*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: open-sans, sans-serif;
  background-color: #2C2B3D;
}

.layout {
  width: 1280px;
  margin: 0 auto;
  padding: 99px;
}